@import "tailwindcss";

:root {
  --blue: #3B82F6;
  --gray: #6B7280;
  --red: #EF4444;
  --white: #FFFFFF;
  font-family: system-ui, sans-serif;
}
body {
  background: var(--white);
  color: #111827;
}
.leaflet-control-zoom {
  position: fixed !important;
  bottom: 16px;
  left: 16px;
  z-index: 1000;
}
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 16px);
}

/* globals.css или любой импортируемый файл */
.leaflet-popup-content-wrapper {
  background: transparent !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

.leaflet-popup-tip {
  background: transparent !important;
}